.body{
    margin: 0;
    padding: 0;
}

.childkuntul{
    background-color: white;
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 3px #888888;
    display: flex;
    justify-content: space-between;
}

.gambar{
    margin-top: 13%;
    margin-left: 10%;
}

.cardlogin{
    background-color: skyblue;
    width: 50%;
    border-radius: 0 10px 10px 0;
}

.titlelogin{
    margin-left: 28%;
    margin-top: 15%;
    margin-bottom: 10%;
}

input{
    min-width: 0;
    min-height: 0;
    width: 60%;
    margin-left: 20%;
    font-family: inherit;
    line-height: 20px;
    border: none;
    outline: none;
    height: auto;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3%;
    border-radius: 10px;
    margin-bottom: 20px;
}

button{
    width: 20%;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    height: 40px;
    line-height: 20px;
    outline: none;
    margin-bottom: 16px;
    background-color: #68fc80;
    margin-left: 40%;
}

button:hover {
    background-color: red;
    opacity: 80%;
    color: white;
}

button:active{
    background-color: yellow;
    color: white;
}


